.header{
  height: 60px;
  background-color: #253141;
  color: white;
  z-index: 3;
  &__username{
    display: inline-block;
    width: 15%;
    height: 60px;
    padding-top: 20px;
    padding-left: 20px;
  }
  &__logout{
    display: inline-block;
    margin-left: 10px;
  }
  &__mainform{
    float: right;
    width: 85%;
    height: 60px;
    .search_bar{
      margin-left: 25px;
      margin-top: 10px;
      display: flex; 
      align-items: center; 
      justify-content: center; 
      height: 35px;
      width: 30%;
      border-radius: 4em;
      background-color: rgb(231, 244, 248);
      float: left;
      .textform {
        position: relative;
        width: 95%;
        height: 30px;
        background-color: rgb(221, 241, 247);
        border: none; 
        outline: none;
        box-sizing: border-box;
        font-size: 17px;
        margin-left: 10px;
      }
      .fa-search.search_icon {
        height: 15px;
        width: 15px;
        margin-right: 10px;
        color: black;
    }
  }
      
  .header__mypage{
    width: 8%;
    height: 30px;
    margin-top: 18px;
    margin-left: auto;
    .fa-user{
      font-size: 20px;
    }
  }
  }
}