* {
  box-sizing: border-box;
}

.wrapper{
  background-color: white;
  height: 1000px;
}

.head{
  background-color: lightcyan;
  height: 1000px;
}

.main_contents{
  display: inline-block;
  height: 70%;
  width: 50%;
  background-color: white;
  margin-top: 150px;
  margin-left: 280px;
  .msgform{
    color: black;
  .content{
    border: 4px solid;
    border-color:rgb(46, 38, 88);
    background-color: white;
    border-radius: 5%;
    width: 90%;
    height: 170px;
    margin-bottom: 30px;

    .msgimage{
      margin-top: 10px;
      margin-left: 7px;
      height: 140px;
      width: 140px;

    }
    .no-form{
      margin-top: 6px;
      margin-left: 3px;
      width: 150px;
      height: 150px;
      border:3px solid; 
      border-color:black;
    }
    .msgday{
      position: absolute;
      display: inline-block;
      font-size: 20px;
      margin-left: 20px;
      margin-top: 10px;
    }
    .msg-title{
      padding-top: 5px;
      font-size: 24px;
    }
    .msgday2{
      position: absolute;
      display: inline-block;
      font-size: 20px;
      margin-left: 85px;
      margin-top: 10px;
    }
  }
  }
}

